<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 class="_title">Login</h1>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label label-txt">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label label-txt">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label _txt" for="exampleCheck1">Remember Me</label>
                    </div>
                    <button type="submit" class="btn btn-warning">Login</button>
                </form>
                <a routerLink="/register" class="_already_title">New user? Click to register!!</a>
            </div>
        </div>
    </div>
</div>