<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 class="_title">Register</h1>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="fullname" class="form-label label-txt">Full Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label label-txt">Mobile No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label label-txt">Email address</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label label-txt">Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label _txt" for="exampleCheck1">Remember Me</label>
                    </div>
                    <button type="submit" class="btn btn-warning">Login</button>
                </form>
                <a routerLink="/login" class="_already_title">Already registerd? Click to login!!</a>
            </div>
        </div>
    </div>
</div>